.c-icon {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
    border: 1px solid #242127;
    border-radius: 15px;
    color: #5458f7;
    font-size: 26px;
}
